/* SkewText.css */

#stage {
  width: 600px; height: 250px;
  background-color: #000000;
  position: relative;
}

#button {
  top: 20px; left: 247px;
  width: 100px; height: 50px;
  border: solid 3px #666666;
  border-radius: 10px;
  text-align: center;
  color: #666666;
  line-height: 55px;
  cursor: default;
  position: absolute;
}

#div1 {
  top: 70px; left: -200px;
  width: 500px; height: 65px;
  /* border: 1px solid yellow; */
  text-align: center;
  color: #FFFF00;
  font: bold 64px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  position: absolute;
  
  transform: skew(40deg, 20deg);
  -webkit-transform: skew(40deg, 20deg);
  
  transition: 5s linear;
  -webkit-transition: 5s linear;
}

#button:hover {
  background-color: #555555;
  color: #000000;
}
#button:hover #div1 {
  color: #FF0000;
  transform: skew(-40deg, -20deg);
  -webkit-transform: skew(-40deg, -20deg);
}

.font28GothicB {
  font: bold 28px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
}

