/* TextShadow3.css */

#stage {
  width: 600px; height: 300px;
  background-color: #FFFFFF;
  border: solid 1px #000000;
  position: relative;
}

#button {
  top: 20px; left: 247px;
  width: 100px; height: 50px;
  border: solid 3px #CCCCCC;
  border-radius: 10px;
  text-align: center;
  color: #CCCCCC;
  line-height: 55px;
  cursor: default;
  position: absolute;
}

#div1 {
  top: 120px; left: -45px;
  position: absolute;
  /* border: 1px solid red; */
  
  color: #FFFFFF;
  font: bold 72px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
  text-shadow: 5px 5px 40px red, -5px -5px 40px yellow, -5px 5px 40px green,
               5px -5px 40px blue;
  
  transition: 1s linear;
  -webkit-transition: 1s linear;
}

#button:hover {
  background-color: #EEEEEE;
  color: #999999;
}
#button:hover #div1 {
  color: #000000;
  text-shadow: 180px -60px 5px red, -180px 60px 5px yellow, 180px 60px 5px green,
               -180px -60px 5px blue;
}

.font28GothicB {
  font: bold 28px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
}
