/* BackgroundChange2A.css */

#stage {
  width: 490px;
  height: 390px;
  background-color: #FFFFFF;
  position: relative;
}

/*****************************************************************************
* バックグラウンドの画像を動かす２Ａ（複数の背景画像）ショートハンド
******************************************************************************/
#div1 {
  top: 0px; left: 0px;
  width: 450px; height: 350px;
  border: solid 20px rgba(255, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  line-height: 350px;
  color: yellow;
  position: absolute;
  
  background: url("images/DSC00149L.jpg") left top no-repeat scroll border-box,
              url("images/DSC00007L.jpg") 0px 0px no-repeat scroll content-box,
              url("images/DSC00131L.jpg") 0% 0% no-repeat scroll border-box,
              url("images/DSC00203L.jpg") left top no-repeat scroll content-box orange;
  background-size: 200px 150px, 60% 60%, 350px auto, auto;
  background-clip: border-box;
  
  transition: 2s linear 0s;
  -webkit-transition: 2s linear 0s;
}

#div1:hover {
  color: transparent;
  background-color: cyan;
  background-position: center center, -100px -80px, 100% 100%, right bottom;
  background-size: 300px 225px, 30% 30%, 200px auto, auto;
}

.font28GothicB {
  font: bold 28px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro", Verdana;
}

