/* FunctionOrder3-3.css */

/**************************************************************************
 * transformŠÖ”‚Ìw’è‡”Ô‚É‚æ‚é•Ï‰»‚Ìˆá‚¢B                              *
 **************************************************************************/
#stage {
  width: 700px; height: 500px;
  background-color: white;
  /* border: solid 1px black; */
  position: relative;
}

#box1 {
  top: 300px; left: 200px;
  width: 50px; height: 50px;
  border: solid 1px cyan;
  position: absolute;
}

/*****************************************************************************
* translateX, rotateZ, scale ‚Ì‡”Ô‚ğ•Ï‚¦‚é                                  *
******************************************************************************/
/* ‚R|‚RDscale, rotateZ, translateX ‚Ì‡iŠî–{lŠpŒ`‚ğ2”{‚ÉŠg‘å‚µ360“x‰ñ“]
           ‚³‚¹300pxˆÚ“® Ë ‘å‚«‚È—†ù‚ğ•`‚­i‚R|‚Q‚Æ“¯‚¶j ********/
#rect1 {
  top: 0px; left: 0px;
  width: 50px; height: 50px;
  border: solid 1px cyan;
  background-color: cyan;
  position: absolute;
  
  transition: transform 3s ease-in-out;
  -webkit-transition: -webkit-transform 3s ease-in-out;
}
#box1:hover #rect1 {
  transform: scale(2, 2) rotateZ(360deg) translateX(300px);
  -webkit-transform: scale(2, 2) rotateZ(360deg) translateX(300px);
}

