/* FunctionOrder3-7.css */

/**************************************************************************
 * transformŠÖ”‚Ìw’è‡”Ô‚É‚æ‚é•Ï‰»‚Ìˆá‚¢B                              *
 **************************************************************************/
#stage {
  width: 700px; height: 500px;
  background-color: white;
  /* border: solid 1px black; */
  position: relative;
}

#box1 {
  top: 150px; left: 250px;
  width: 100px; height: 100px;
  border: solid 1px cyan;
  position: absolute;
  
  perspective: 500px;
  -webkit-perspective: 500px;
}

/*****************************************************************************
* translateX, rotateZ, scale ‚Ì‡”Ô‚ğ•Ï‚¦‚é                                  *
******************************************************************************/
/* ‚R|‚VDrotateX, translateY ‚Ì‡ iŠî–{lŠpŒ`‚ğ‚w•ûŒü‚ğ²‚É‚µ‚Ä‚P‰ñ“]‚³‚¹A
           ‚x•ûŒü‚É300pxˆÚ“®jË ‚’¼•ûŒü‚Ì—†ù‚ğ•`‚­ ********/
#rect1 {
  top: 0px; left: 0px;
  width: 100px; height: 100px;
  border: solid 1px cyan;
  background-color: cyan;
  position: absolute;
  
  transition: transform 3s ease-in-out;
  -webkit-transition: -webkit-transform 3s ease-in-out;
}
#box1:hover #rect1 {
  transform: rotateX(360deg) translateY(300px);
  -webkit-transform: rotateX(360deg) translateY(300px);
}

