/* FunctionOrder3-1.css */

/**************************************************************************
 * transformŠÖ”‚Ìw’è‡”Ô‚É‚æ‚é•Ï‰»‚Ìˆá‚¢B                              *
 **************************************************************************/
#stage {
  width: 700px; height: 500px;
  background-color: white;
  /* border: solid 1px black; */
  position: relative;
}

#box1 {
  top: 250px; left: 250px;
  width: 50px; height: 50px;
  border: solid 1px cyan;
  position: absolute;
}

/*****************************************************************************
* translateX, rotateZ, scale ‚Ì‡”Ô‚ğ•Ï‚¦‚é                                  *
******************************************************************************/
/* ‚R|‚PDrotateZ, translateX, scale ‚Ì‡iŠî–{lŠpŒ`‚ğ360“x‰ñ“]‚³‚¹300pxˆÚ“®‚µ
           2”{‚ÉŠg‘å Ë itranslateX rotateZ ‚Ì‡‚É‚·‚é‚Æj—†ù‚ğ•`‚­ ********/
#rect1 {
  top: 0px; left: 0px;
  width: 50px; height: 50px;
  border: solid 1px cyan;
  background-color: cyan;
  position: absolute;
  
  transition: transform 3s ease-in-out;
  -webkit-transition: -webkit-transform 3s ease-in-out;
}
#box1:hover #rect1 {
  transform: rotateZ(360deg) translateX(300px) scale(2, 2);
  -webkit-transform: rotateZ(360deg) translateX(300px) scale(2, 2);
}

